html {
  height: 100%;
}

body {
  background-color: #f9fafc;
  color: #222;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100%;
  text-align: center;
  justify-content: center;
  padding: 0 4rem;
}

main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  height: 100%;
  justify-content: center;
  max-width: 40rem;
  width: 40rem;
}

h1 {
  align-self: flex-end;
  height: 80px;
  margin: 0;
  overflow: hidden;
  width: 80px;
}

h1::before {
  background: url(/static/images/avatar.jpg) center/cover no-repeat;
  border-radius: 50%;
  content: "";
  display: flex;
  height: 80px;
  width: 80px;
}

p {
  background-color: #fff;
  border-radius: 16px;
  border-bottom-right-radius: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-size: 3rem;
  margin: 0;
  margin-bottom: 10px;
  padding: 2.5rem;
  width: 100%;
}

p > a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 450px) {
  p {
    font-size: 2rem;
    padding: 2rem;
  }
}
